<p class="mb-1">
  Get paid instantly when someone makes a purchase on your store.
  Supports all major credit cards, wallets and more.
</p>

<div class="d-flex align-items-center">
  <%= payment_method_icon_tag 'visa', class: 'm-1' %>
  <%= payment_method_icon_tag 'master', class: 'm-1' %>
  <%= payment_method_icon_tag 'american_express', class: 'm-1' %>
  <%= payment_method_icon_tag 'apple_pay', class: 'm-1' %>
  <%= payment_method_icon_tag 'google_pay', class: 'm-1' %>
  <%= payment_method_icon_tag 'klarna', class: 'm-1' %>
  <%= payment_method_icon_tag 'afterpay', class: 'm-1' %>
  <%= payment_method_icon_tag 'affirm', class: 'm-1' %>
</div>